In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [0]:
spark = SparkSession.builder.appName("this is my first program in spark").getOrCreate()

In [0]:
data = spark.read.csv("dbfs:/FileStore/phone_usage_india.csv",header=True,inferSchema=True)

In [0]:
data.printSchema()

root
 |-- User ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Phone Brand: string (nullable = true)
 |-- OS: string (nullable = true)
 |-- Screen Time (hrs/day): double (nullable = true)
 |-- Data Usage (GB/month): double (nullable = true)
 |-- Calls Duration (mins/day): double (nullable = true)
 |-- Number of Apps Installed: integer (nullable = true)
 |-- Social Media Time (hrs/day): double (nullable = true)
 |-- E-commerce Spend (INR/month): integer (nullable = true)
 |-- Streaming Time (hrs/day): double (nullable = true)
 |-- Gaming Time (hrs/day): double (nullable = true)
 |-- Monthly Recharge Cost (INR): integer (nullable = true)
 |-- Primary Use: string (nullable = true)

In [0]:
data.show(5)

+-------+---+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
|User ID|Age|Gender| Location|Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|
+-------+---+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
| U00001| 53|  Male|   Mumbai|       Vivo|Android|                  3.7|                 23.9|                     37.9|                     104|                        3.9|                         469|                     5.2|                  4.1|                        803|    Education|
| U00002| 60| Other|    Delhi|     Realme|    iOS|                  9.2|                 28.1|                     13.7|                     169|                        2.8|                        4997|                     5.1|                  0.4|                       1526|       Gaming|
| U00003| 37|Female|Ahmedabad|      Nokia|Android|                  4.5|                 12.3|                     66.8|                      96|                        3.0|                        2381|                     1.7|                  2.9|                       1619|Entertainment|
| U00004| 32|  Male|     Pune|    Samsung|Android|                 11.0|                 25.6|                    156.2|                     146|                        5.2|                        1185|                     3.2|                  0.3|                       1560|Entertainment|
| U00005| 16|  Male|   Mumbai|     Xiaomi|    iOS|                  2.2|                  2.5|                    236.2|                      86|                        5.5|                         106|                     3.4|                  2.3|                        742| Social Media|
+-------+---+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
only showing top 5 rows

In [0]:
data.tail(5)

Out[11]: [Row(User ID='U17682', Age=27, Gender='Other', Location='Mumbai', Phone Brand='Apple', OS='iOS', Screen Time (hrs/day)=7.2, Data Usage (GB/month)=36.6, Calls Duration (mins/day)=90.4, Number of Apps Installed=81, Social Media Time (hrs/day)=5.1, E-commerce Spend (INR/month)=4007, Streaming Time (hrs/day)=3.8, Gaming Time (hrs/day)=3.3, Monthly Recharge Cost (INR)=1380, Primary Use='Entertainment'),
 Row(User ID='U17683', Age=40, Gender='Female', Location='Chennai', Phone Brand='Oppo', OS='iOS', Screen Time (hrs/day)=9.5, Data Usage (GB/month)=12.9, Calls Duration (mins/day)=243.0, Number of Apps Installed=166, Social Media Time (hrs/day)=4.3, E-commerce Spend (INR/month)=8550, Streaming Time (hrs/day)=3.4, Gaming Time (hrs/day)=0.7, Monthly Recharge Cost (INR)=222, Primary Use='Education'),
 Row(User ID='U17684', Age=34, Gender='Female', Location='Ahmedabad', Phone Brand='Realme', OS='Android', Screen Time (hrs/day)=1.1, Data Usage (GB/month)=48.9, Calls Duration (mins/day)=74.7, Number of Apps Installed=70, Social Media Time (hrs/day)=5.3, E-commerce Spend (INR/month)=5516, Streaming Time (hrs/day)=0.7, Gaming Time (hrs/day)=4.0, Monthly Recharge Cost (INR)=1612, Primary Use='Entertainment'),
 Row(User ID='U17685', Age=22, Gender='Male', Location='Hyderabad', Phone Brand='Vivo', OS='Android', Screen Time (hrs/day)=8.8, Data Usage (GB/month)=25.6, Calls Duration (mins/day)=105.6, Number of Apps Installed=96, Social Media Time (hrs/day)=2.4, E-commerce Spend (INR/month)=3614, Streaming Time (hrs/day)=6.6, Gaming Time (hrs/day)=0.8, Monthly Recharge Cost (INR)=1528, Primary Use='Work'),
 Row(User ID='U17686', Age=43, Gender='Other', Location='Kolkata', Phone Brand='Oppo', OS='iOS', Screen Time (hrs/day)=5.6, Data Usage (GB/month)=22.5, Calls Duration (mins/day)=215.2, Number of Apps Installed=78, Social Media Time (hrs/day)=5.1, E-commerce Spend (INR/month)=5332, Streaming Time (hrs/day)=0.8, Gaming Time (hrs/day)=3.6, Monthly Recharge Cost (INR)=1098, Primary Use='Gaming')]

In [0]:
len(data.columns)

Out[14]: 16

In [0]:
data.count()

Out[15]: 17686

In [0]:
type(data.dtypes)

Out[17]: list

In [0]:
for columns , dtypes in data.dtypes:
    print(f"{columns}  == ==== {dtypes}")

User ID  == ==== string
Age  == ==== int
Gender  == ==== string
Location  == ==== string
Phone Brand  == ==== string
OS  == ==== string
Screen Time (hrs/day)  == ==== double
Data Usage (GB/month)  == ==== double
Calls Duration (mins/day)  == ==== double
Number of Apps Installed  == ==== int
Social Media Time (hrs/day)  == ==== double
E-commerce Spend (INR/month)  == ==== int
Streaming Time (hrs/day)  == ==== double
Gaming Time (hrs/day)  == ==== double
Monthly Recharge Cost (INR)  == ==== int
Primary Use  == ==== string

In [0]:
data.describe().show()

+-------+-------+------------------+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-----------+
|summary|User ID|               Age|Gender| Location|Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|Primary Use|
+-------+-------+------------------+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-----------+
|  count|  17686|             17686| 17686|    17686|      17686|  17686|                17686|                17686|                    17686|                   17686|                      17686|                       17686|                   17686|                17686|                      17686|      17686|
|   mean|   null| 37.58424742734366|  null|     null|       null|   null|    6.546375664367289|   25.411257491801486|        151.4058464322059|      104.58486938821667|         3.2523691055071704|            5075.70784801538|      4.2506163066832565|    2.490874137736062|         1042.7853669569151|       null|
| stddev|   null|13.338251788617113|  null|     null|       null|   null|   3.1726772356159683|   14.122167498320856|        84.92335325749652|       55.21709697361205|         1.5902230927017802|           2871.604840767319|         2.1556832366318|   1.4460030819356924|          552.5020671416656|       null|
|    min| U00001|                15|Female|Ahmedabad|      Apple|Android|                  1.0|                  1.0|                      5.0|                      10|                        0.5|                         100|                     0.5|                  0.0|                        100|  Education|
|    max| U17686|                60| Other|     Pune|     Xiaomi|    iOS|                 12.0|                 50.0|                    300.0|                     200|                        6.0|                       10000|                     8.0|                  5.0|                       2000|       Work|
+-------+-------+------------------+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-----------+

In [0]:
age = data.select("Age","Monthly Recharge Cost (INR)").show()

+---+---------------------------+
|Age|Monthly Recharge Cost (INR)|
+---+---------------------------+
| 53|                        803|
| 60|                       1526|
| 37|                       1619|
| 32|                       1560|
| 16|                        742|
| 21|                       1749|
| 57|                       1073|
| 56|                       1136|
| 46|                       1253|
| 44|                        168|
| 55|                       1098|
| 41|                        151|
| 53|                        240|
| 35|                        972|
| 33|                       1046|
| 52|                       1769|
| 46|                       1679|
| 54|                       1360|
| 50|                       1639|
| 40|                       1224|
+---+---------------------------+
only showing top 20 rows

In [0]:
type(age)

Out[25]: NoneType

In [0]:
age = data.select("Age","Monthly Recharge Cost (INR)")

In [0]:
age.describe().show()

+-------+------------------+---------------------------+
|summary|               Age|Monthly Recharge Cost (INR)|
+-------+------------------+---------------------------+
|  count|             17686|                      17686|
|   mean| 37.58424742734366|         1042.7853669569151|
| stddev|13.338251788617113|          552.5020671416656|
|    min|                15|                        100|
|    max|                60|                       2000|
+-------+------------------+---------------------------+

In [0]:
data.filter(col("Age")<20).show()

+-------+---+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
|User ID|Age|Gender| Location|Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|
+-------+---+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
| U00005| 16|  Male|   Mumbai|     Xiaomi|    iOS|                  2.2|                  2.5|                    236.2|                      86|                        5.5|                         106|                     3.4|                  2.3|                        742| Social Media|
| U00024| 16|Female|Hyderabad|       Vivo|Android|                  1.4|                 25.5|                    222.0|                     141|                        1.6|                        1119|                     2.8|                  0.4|                       1118|       Gaming|
| U00027| 15|  Male|    Delhi|       Vivo|Android|                  9.2|                 42.7|                    230.9|                     180|                        0.5|                        4611|                     1.0|                  2.5|                        210|       Gaming|
| U00040| 19|  Male|  Kolkata|      Apple|    iOS|                  5.5|                  2.9|                    212.5|                     129|                        5.6|                        8514|                     7.9|                  0.8|                        647|    Education|
| U00048| 19|  Male|Bangalore|     Realme|    iOS|                  3.1|                 24.8|                     82.1|                      75|                        3.9|                        1396|                     2.0|                  1.6|                       1245| Social Media|
| U00050| 17| Other|  Lucknow|      Apple|    iOS|                  4.7|                 30.4|                    157.7|                     187|                        2.6|                        9189|                     4.3|                  4.9|                        801|Entertainment|
| U00058| 16|Female|     Pune|      Nokia|    iOS|                  9.0|                  7.1|                    142.9|                     164|                        4.9|                        6088|                     2.1|                  1.9|                        686|         Work|
| U00070| 18|  Male|    Delhi|       Oppo|    iOS|                  5.3|                 10.4|                    257.0|                     116|                        2.3|                        4368|                     7.6|                  4.2|                       1359|       Gaming|
| U00078| 19| Other|  Kolkata|   Motorola|    iOS|                  6.0|                 42.2|                    193.0|                     101|                        3.1|                        4606|                     2.2|                  3.9|                        705|Entertainment|
| U00097| 17| Other|Hyderabad|   Motorola|Android|                 11.8|                 35.2|                    111.2|                     140|                        0.7|                         856|                     7.0|                  2.0|                       1474|Entertainment|
| U00103| 15| Other|   Mumbai|     Realme|    iOS|                 10.5|                 39.3|                     77.1|                     137|                        2.2|                        8230|                     3.1|                  3.1|                        687|         Work|
| U00115| 15| Other|     Pune|       Oppo|    iOS|                  8.5|                 18.6|                    118.8|                      30|                        5.8|                        7615|                     6.8|                  2.5|                        448|    Education|
| U00118| 15| Other|   Jaipur|      Nokia|Android|                  8.9|                 13.9|                     99.2|                      51|                        5.4|                        7174|                     0.7|                  1.7|                       1837|    Education|
| U00119| 19|Female|  Chennai|   Motorola|    iOS|                  7.2|                 16.0|                    163.5|                     191|                        1.9|                        6130|                     4.8|                  1.8|                       1202|       Gaming|
| U00135| 18| Other|  Lucknow|      Apple|Android|                  3.7|                 40.8|                    226.0|                     167|                        0.8|                        4554|                     0.9|                  4.2|                        411| Social Media|
| U00140| 19|  Male|  Lucknow|       Vivo|Android|                  4.1|                 14.3|                    134.6|                     193|                        4.9|                         977|                     6.2|                  0.2|                        512| Social Media|
| U00147| 18|  Male|Hyderabad|      Apple|Android|                  6.0|                 16.7|                    201.8|                      43|                        2.9|                        4640|                     5.2|                  4.6|                       1497|Entertainment|
| U00151| 16| Other|  Chennai|    Samsung|    iOS|                  7.9|                  6.8|                     69.8|                      38|                        2.8|                        5468|                     7.7|                  4.2|                       1304|Entertainment|
| U00158| 16| Other|   Jaipur|   Motorola|    iOS|                 11.5|                 41.2|                    274.4|                     122|                        4.8|                         206|                     3.1|                  1.2|                       1935|    Education|
| U00174| 19| Other|   Mumbai|     Xiaomi|Android|                 11.7|                  6.2|                     81.7|                      20|                        3.3|                        3667|                     6.1|                  4.2|                        722| Social Media|
+-------+---+------+---------+-----------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
only showing top 20 rows

In [0]:
data.filter(col("Age")<20).select( "Age", "Screen Time (hrs/day)","Data Usage (GB/month)","Calls Duration (mins/day)").show()

+---+---------------------+---------------------+-------------------------+
|Age|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|
+---+---------------------+---------------------+-------------------------+
| 16|                  2.2|                  2.5|                    236.2|
| 16|                  1.4|                 25.5|                    222.0|
| 15|                  9.2|                 42.7|                    230.9|
| 19|                  5.5|                  2.9|                    212.5|
| 19|                  3.1|                 24.8|                     82.1|
| 17|                  4.7|                 30.4|                    157.7|
| 16|                  9.0|                  7.1|                    142.9|
| 18|                  5.3|                 10.4|                    257.0|
| 19|                  6.0|                 42.2|                    193.0|
| 17|                 11.8|                 35.2|                    111.2|
| 15|                 10.5|                 39.3|                     77.1|
| 15|                  8.5|                 18.6|                    118.8|
| 15|                  8.9|                 13.9|                     99.2|
| 19|                  7.2|                 16.0|                    163.5|
| 18|                  3.7|                 40.8|                    226.0|
| 19|                  4.1|                 14.3|                    134.6|
| 18|                  6.0|                 16.7|                    201.8|
| 16|                  7.9|                  6.8|                     69.8|
| 16|                 11.5|                 41.2|                    274.4|
| 19|                 11.7|                  6.2|                     81.7|
+---+---------------------+---------------------+-------------------------+
only showing top 20 rows

In [0]:
data.filter(col("Age")<20).select( "Age", "Screen Time (hrs/day)","Data Usage (GB/month)","Calls Duration (mins/day)").describe().show()

+-------+------------------+---------------------+---------------------+-------------------------+
|summary|               Age|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|
+-------+------------------+---------------------+---------------------+-------------------------+
|  count|              1941|                 1941|                 1941|                     1941|
|   mean|17.001545595054097|    6.544204018547137|   25.379855744461615|        153.7225141679548|
| stddev| 1.438605310281639|    3.156786772889325|   13.957482609837697|        84.20230133168563|
|    min|                15|                  1.0|                  1.0|                      5.2|
|    max|                19|                 12.0|                 50.0|                    299.9|
+-------+------------------+---------------------+---------------------+-------------------------+

In [0]:
data.createOrReplaceTempView("phone_use_IND")

In [0]:
spark.sql("select * from phone_use_IND").show()

+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
|User ID|Age|Gender| Location| Phone Brand|     OS|Screen Time (hrs/day)|Data Usage (GB/month)|Calls Duration (mins/day)|Number of Apps Installed|Social Media Time (hrs/day)|E-commerce Spend (INR/month)|Streaming Time (hrs/day)|Gaming Time (hrs/day)|Monthly Recharge Cost (INR)|  Primary Use|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
| U00001| 53|  Male|   Mumbai|        Vivo|Android|                  3.7|                 23.9|                     37.9|                     104|                        3.9|                         469|                     5.2|                  4.1|                        803|    Education|
| U00002| 60| Other|    Delhi|      Realme|    iOS|                  9.2|                 28.1|                     13.7|                     169|                        2.8|                        4997|                     5.1|                  0.4|                       1526|       Gaming|
| U00003| 37|Female|Ahmedabad|       Nokia|Android|                  4.5|                 12.3|                     66.8|                      96|                        3.0|                        2381|                     1.7|                  2.9|                       1619|Entertainment|
| U00004| 32|  Male|     Pune|     Samsung|Android|                 11.0|                 25.6|                    156.2|                     146|                        5.2|                        1185|                     3.2|                  0.3|                       1560|Entertainment|
| U00005| 16|  Male|   Mumbai|      Xiaomi|    iOS|                  2.2|                  2.5|                    236.2|                      86|                        5.5|                         106|                     3.4|                  2.3|                        742| Social Media|
| U00006| 21|  Male|   Jaipur|        Oppo|    iOS|                  5.4|                 10.6|                    210.6|                      25|                        4.2|                        6285|                     0.6|                  4.8|                       1749|Entertainment|
| U00007| 57|Female|  Lucknow|       Apple|    iOS|                  6.0|                 35.2|                    154.5|                     123|                        0.8|                        2653|                     2.9|                  2.3|                       1073| Social Media|
| U00008| 56| Other|  Kolkata|      Realme|    iOS|                  3.1|                 43.5|                    125.3|                     188|                        2.3|                        9767|                     5.2|                  5.0|                       1136|Entertainment|
| U00009| 46|Female|  Kolkata|        Oppo|Android|                  5.3|                 46.4|                     21.3|                     194|                        3.7|                        2870|                     6.1|                  2.8|                       1253|Entertainment|
| U00010| 44| Other|  Kolkata|       Apple|    iOS|                  9.9|                 10.6|                    180.2|                      84|                        4.8|                        9193|                     7.6|                  0.4|                        168|    Education|
| U00011| 55| Other|  Lucknow|       Nokia|Android|                  1.6|                 23.7|                    192.0|                      27|                        3.1|                        9330|                     1.2|                  2.3|                       1098|         Work|
| U00012| 41|Female|    Delhi|        Oppo|Android|                  7.5|                 23.5|                     84.9|                     187|                        0.9|                         643|                     3.5|                  2.7|                        151| Social Media|
| U00013| 53|  Male|Bangalore|      Realme|    iOS|                 10.5|                  1.4|                     33.7|                     137|                        4.5|                        7854|                     7.2|                  1.4|                        240|    Education|
| U00014| 35|  Male|   Jaipur|      Realme|Android|                 10.3|                 32.4|                    247.1|                     124|                        5.2|                        3347|                     3.8|                  4.5|                        972| Social Media|
| U00015| 33|Female|   Jaipur|     Samsung|    iOS|                  1.7|                 33.2|                    208.8|                     121|                        3.0|                        3185|                     4.2|                  0.5|                       1046|Entertainment|
| U00016| 52|  Male|Bangalore|Google Pixel|Android|                  5.1|                 28.5|                    169.2|                     161|                        4.6|                        6175|                     4.4|                  4.3|                       1769|         Work|
| U00017| 46| Other|   Mumbai|       Apple|Android|                  3.1|                 23.6|                    153.9|                     183|                        2.5|                        6242|                     6.2|                  0.4|                       1679|    Education|
| U00018| 54|  Male|  Kolkata|       Apple|Android|                 11.6|                 12.6|                    210.4|                      62|                        4.9|                        4642|                     0.9|                  4.1|                       1360|Entertainment|
| U00019| 50|Female|  Chennai|Google Pixel|Android|                  5.3|                  5.2|                    235.6|                     188|                        4.6|                        1120|                     1.0|                  0.8|                       1639|         Work|
| U00020| 40| Other|Hyderabad|    Motorola|    iOS|                  9.0|                 38.9|                    289.6|                      62|                        2.4|                        8012|                     7.7|                  2.0|                       1224|         Work|
+-------+---+------+---------+------------+-------+---------------------+---------------------+-------------------------+------------------------+---------------------------+----------------------------+------------------------+---------------------+---------------------------+-------------+
only showing top 20 rows

In [0]:
spark.sql("select Age ,Location  from phone_use_IND where Age >20").show()

+---+---------+
|Age| Location|
+---+---------+
| 53|   Mumbai|
| 60|    Delhi|
| 37|Ahmedabad|
| 32|     Pune|
| 21|   Jaipur|
| 57|  Lucknow|
| 56|  Kolkata|
| 46|  Kolkata|
| 44|  Kolkata|
| 55|  Lucknow|
| 41|    Delhi|
| 53|Bangalore|
| 35|   Jaipur|
| 33|   Jaipur|
| 52|Bangalore|
| 46|   Mumbai|
| 54|  Kolkata|
| 50|  Chennai|
| 40|Hyderabad|
| 60|     Pune|
+---+---------+
only showing top 20 rows